body {
  height: 100%;
  background-color: #e9ecef;
}

#profile-image {
  width: 75%;
}

#personalBackground {

  height: fit-content;
}

#personalBackgroundContainer {
  display: flex;
  justify-content: center;
  flex-direction: column
}

.row {
  margin: 10px
}

h1 {
  font-size: 30px;
}

.section {
  height: 100%;
}